$base-color: #cccccc;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("http://fonts.cdnfonts.com/css/arial-mt");
* {
    padding: 0;
    margin: 0;
}
body a {
    text-decoration: none;
}
.small-menu {
    padding: 8px 0 8px 0;
    background-color: #f6f6f6;
    margin-bottom: 16px;
}

.small-menu-nav-left {
    list-style: none;
    width: 40%;
    &__link {
        color: #7e7e7e;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Merriweather Sans", sans-serif;
    }
}

.flex {
    display: flex;
}
.flex_dir_colum {
    flex-direction: column;
}
.flex_space_btw {
    justify-content: space-between;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
}
.small-menu-nav-right {
    width: 25%;
}
.serch-form {
    height: 32px;
    margin-bottom: 25px;
    &__text {
        padding: 10px;

        border-top: 1px solid;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 0px;
        outline: none;
        border-color: #e1e1e1;
    }
    &__button {
        padding: 14px;

        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 0px;
        background-color: #ffffff;
        outline: none;
        background: url("img-adaptive/Search_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-color: #e1e1e1;
    }
}
.header-bottom-right {
    width: 55%;
}
.heder-bottom-left {
    align-items: end;
}
.logo {
    &__text {
        color: #454545;
        font-size: 44px;
        font-weight: 700;
        line-height: 40px;
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
    }
}

.alig_block_right {
    margin: 0 0 0 auto;
}
.catalog-nav {
    &__list {
        list-style: none;
    }
    &__link {
        color: #565656;
        font-size: 14px;
        font-weight: 700;
        font-family: "Cousine";
        text-transform: uppercase;
    }
}
.header-bottom {
    margin-bottom: 19px;
}
.banner {
    background-color: #cccccc;
    height: 1070px;
    position: relative;
}
.banner-content {
    position: relative;
}
.banner-detail {
    width: 39%;
    position: absolute;
    right: 0;
    top: 378px;
    z-index: 1;
    &__h4 {
        color: #555555;
        font-size: 30px;
        font-weight: 700;
        font-family: "Cousine", monospace;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    &__h1 {
        color: #ffffff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
        font-size: 100px;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: normal;
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__h3 {
        color: #4c4c4c;
        font-size: 35px;
        font-weight: 700;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        margin-bottom: 29px;
    }
    &__link {
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        line-height: 21.15px;
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
    }
}
.nav-buttons {
    width: 100%;
    position: absolute;
    height: 1070px;
    align-items: center;
    &__button {
        padding: 13px;
        width: 48px;
        height: 48px;
        border: 3px solid #ffffff;
        border-radius: 24px;
        background-color: #e0e0e0;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }
}
.banner-pegetation {
    position: absolute;
    width: 100%;
    bottom: 11px;
    justify-content: center;
    &__item {
        width: 10px;
        height: 10px;
        border: 2px solid #ffffff;
        background-color: #555555;
        border-radius: 10px;
        margin-right: 14px;
    }
    &_selected {
        background-color: #ffffff;
    }
}
.promo {
    margin-bottom: 30px;
    background-color: #f3f3f3;
    padding: 60px 0 30px 0;
}
.promo-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 26px;

    // &__item{
    //     margin-bottom: 3%;
    // }
    &__img {
        width: 100%;
    }
    &__item1 {
        grid-column: span 2;
        grid-row: span 2;
    }
    &__item2 {
        grid-row: span 3;
    }
    &__item4 {
        grid-row: span 3;
    }
}

.product-menu {
    width: 40%;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 62px;
    &__link {
        color: #999999;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Merriweather Sans", sans-serif;
    }
}
.product-menu_item_selected {
    color: #444444;
}
.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3%;

    &__img {
        width: 100%;
        margin-bottom: 24px;
    }
    &__name {
        width: 50%;
        color: #444444;
        font-size: 13px;
        font-weight: 400;
        font-family: "Merriweather Sans", sans-serif;
    }
    &__price {
        color: #222222;
        font-size: 15px;
        font-weight: 700;
        font-family: "Cousine", monospace;
    }
}
.show-more-block-content {
    align-items: center;
    &__decor {
        width: 520px;
        height: 1px;
        background-color: #dddddd;
    }
    &__link {
        color: #555555;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
        padding: 0 20px 0 20px;
    }
}
.show-more-block {
    margin-bottom: 120px;
}
.footer {
    background-color: #1f1f1f;
    padding-top: 91px;
    &__h3 {
        color: #b6b6b6;
        font-size: 17px;
        font-weight: 400;
        font-family: "Cousine", monospace;
        text-transform: uppercase;
        padding-bottom: 34px;
    }
}
.footer-top-col1 {
    width: 38%;
}
.footer-top-col2 {
    width: 30%;
}
// .footer-top-col3 {
//     width: 28%;
// }
.about-shop {
    margin-bottom: 121px;
    &__text {
        color: #888888;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 14px;
        line-height: 20px;

        font-family: "Arial MT", sans-serif;
    }
    &__link {
        color: #b6b6b6;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Merriweather Sans", sans-serif;
    }
    &__img {
        margin-right: 19px;
    }
}
.from-blog-bottom {
    margin-bottom: 120px;
    &__text {
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        font-family: "Cousine", monospace;
    }
    &__item {
        width: 205px;
    }
    &__img {
        margin-bottom: 20px;
    }
}
.quik-contact {
    margin-bottom: 150px;
    &__input {
        border: 1px solid #666666;
        background-color: #2a2a2a;
        color: #888888;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Cousine", monospace;
        padding: 8px;
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    &__button {
        color: #aeaeae;
        background-color: #1f1f1f;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Merriweather Sans", sans-serif;
        border: 0;
        cursor: pointer;
    }
}
.subscrib {
    &__input {
        border: 1px solid;
        border-right: 0;
        border-color: #666666;
        background-color: #2a2a2a;
        color: #888888;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Cousine", monospace;
        padding: 8px;
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
        outline: none;
        padding: 20px;
        box-sizing: border-box;
    }
}
._sbuscr-submit {
    border-left: 0;
    border-right: 1px solid;
    width: 12px;
}
._textarea {
    resize: none;
}

.quik-contact-map {
    margin-right: 20px;
}
._messagebox {
    height: 116px;
}
.facebook__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navigation {
    &__link-list {
        list-style: none;
    }
}
.most-favorite {
    margin-bottom: 121px;
    &__item {
        padding: 5px;
    }
    &__item-text {
        color: #888888;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        font-family: "Merriweather Sans", sans-serif;
    }
    &__item-price {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        font-family: "Cousine", monospace;
    }
    &__img {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .products-list #item8 {
        display: none;
    }
    .products-list #item7 {
        display: none;
    }
    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .promo-content {
        grid-column-gap: 1%;
        grid-row-gap: 16px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .products-list {
        padding-left: 2%;
        padding-right: 2%;
        grid-gap: 2%;
    }
}
